* {
    box-sizing: border-box !important;
}

body {
    background: #eee;
}

.header, .list-menu-float {
    display: none;
}

.status-menu-container {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.status-menu .status-button.all_anime {
    color: #000 !important;
}

.status-menu .status-button.watching, .status-menu .status-button.reading {
    color: #2db039 !important;
}

.status-menu .status-button.completed {
    color: #26448f !important;
}

.status-menu .status-button.dropped {
    color: #a12f31 !important;
}

.status-menu .status-button.onhold {
    color: #f1c83e !important;
}

.status-menu .status-button.plantowatch, .status-menu .status-button.plantoread {
    color: #c3c3c3 !important;
}

.status-menu .status-button.all_anime::after {
    background: #000;
}

.status-menu .status-button.watching::after, .status-menu .status-button.reading::after {
    background: #2db039;
}

.status-menu .status-button.completed::after {
    background: #26448f;
}

.status-menu .status-button.dropped::after {
    background: #a12f31;
}

.status-menu .status-button.onhold::after {
    background: #f1c83e;
}

.status-menu .status-button.plantowatch::after, .status-menu .status-button.plantoread::after {
    background: #c3c3c3;
}

.status-menu-container.fixed {
    z-index: 111;
}

.list-container {
    border: 0;
    background: none;
}

.list-unit, .list-unit .list-status-title {
    width: 100%;
}

.list-unit .list-status-title {
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.list-unit.all_anime .list-status-title {
    background: #000;
}

.list-unit.watching .list-status-title, .list-unit.reading .list-status-title {
    background: #2db039;
}

.list-unit.completed .list-status-title {
    background: #26448f;
}

.list-unit.dropped .list-status-title {
    background: #a12f31;
}

.list-unit.onhold .list-status-title {
    background: #f1c83e;
}

.list-unit.plantowatch .list-status-title, .list-unit.plantoread .list-status-title {
    background: #c3c3c3;
}

.list-block {
    width: 100%;
}

.list-table > tbody:first-child {
    display: block;
    margin: 16px 10px 6px 10px;
    padding: 0;
    background: none;
}

.list-table .list-table-header .header-title {
    display: inline-block !important;
    background: #ddd;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    line-height: 24px !important;
    height: 24px !important;
    margin: 0 0 0 10px !important;
    padding: 0 !important;
    width: auto !important;
}

.list-table .list-table-header .header-title a {
    padding: 0 7px;
}

.list-table .list-table-header .header-title a .sort-icon {
    display: inline-block;
    width: 10px;
    text-align: center;
    vertical-align: middle;
}

.list-table .list-table-header .header-title a .sort-icon.fa-sort-down {
    vertical-align: text-top;
}

.list-table .list-table-header > .status, .list-table .list-table-header > .number, .list-table .list-table-header > .image, .list-table .list-table-header > .type, .list-table .list-table-header > .days, .list-table .list-table-header > .tags, .list-table .list-table-header > .finished + .started {
    display: none !important;
}

.list-table-header::before {
    content: "Sort by:";
}

.list-table .list-table-data .data {
    border: 0 !important;
}

tbody.list-item {
    background: none !important;
}

.stretch, tbody.list-item > tr.list-table-data > td.data.status, tbody.list-item > tr.list-table-data > td.data.image > a.link > img, tbody.list-item > tr.list-table-data > td.data.title, tbody.list-item > tr.list-table-data > td.data.title > a.link, tbody.list-item > tr.list-table-data > td.data.tags > div, tbody.list-item > tr.list-table-data > td.data.tags > textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

table.list-table {
    display: block !important;
    width: auto;
    margin: 0 -10px;
    border: 0 !important;
}

tbody.list-item {
    display: block !important;
    width: 50%;
    float: left;
    border: 0 !important;
}

tbody.list-item:after, .list-block, .list-unit, .list-container {
    content: "";
    display: table;
    clear: both;
}

tbody.list-item > tr.list-table-data {
    display: block !important;
    background: #fff;
    margin: 10px;
    position: relative;
    height: 150px;
    border: 0 !important;
    border-radius: 5px;
}

tbody.list-item > tr.list-table-data > td.data.status {
    border-radius: 5px;
    background: none !important;
    z-index: 0;
}

tbody.list-item > tr.list-table-data > td.data.status.watching, tbody.list-item > tr.list-table-data > td.data.status.reading {
    box-shadow: 0 1px 3px #2db039, 0 1px 2px #2db039;
}

tbody.list-item > tr.list-table-data > td.data.status.completed {
    box-shadow: 0 1px 3px #26448f, 0 1px 2px #26448f;
}

tbody.list-item > tr.list-table-data > td.data.status.dropped {
    box-shadow: 0 1px 3px #a12f31, 0 1px 2px #a12f31;
}

tbody.list-item > tr.list-table-data > td.data.status.onhold {
    box-shadow: 0 1px 3px #f1c83e, 0 1px 2px #f1c83e;
}

tbody.list-item > tr.list-table-data > td.data.status.plantowatch, tbody.list-item > tr.list-table-data > td.data.status.plantoread {
    box-shadow: 0 1px 3px #c3c3c3, 0 1px 2px #c3c3c3;
}

tbody.list-item > tr.list-table-data > td.data.image > a.link {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    height: 130px;
    width: 92px;
    z-index: 10;
    overflow: hidden;
    background: #fff;
    border-radius: 0 0 0 5px;
}

tbody.list-item > tr.list-table-data > td.data.image > a.link > img {
    object-fit: contain;
    border: 0 !important;
}

tbody.list-item > tr.list-table-data > td.data.title {
    border-radius: 5px 5px 0 0;
    background: #fff;
    height: 20px !important;
}

tbody.list-item > tr.list-table-data > td.data.title > a.link {
    display: block;
    padding: 0 5px;
    width: calc(100% - 70px);
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

tbody.list-item > tr.list-table-data > td.data.title .icon-watch2, tbody.list-item > tr.list-table-data > td.data.title .more {
    display: none;
}

tbody.list-item > tr.list-table-data > td.data.title .add-edit-more {
    font-size: 0 !important;
}

tbody.list-item > tr.list-table-data > td.data.title .add-edit-more .edit, tbody.list-item > tr.list-table-data > td.data.title .add-edit-more .add {
    font-size: 10px !important;
}

tbody.list-item > tr.list-table-data > td.data.number {
    color: #000;
    display: block !important;
    position: absolute;
    font-weight: bold;
    width: 30px;
    height: 30px;
    z-index: 20;
    font-size: 10px !important;
    left: -15px;
    top: 65px;
    border-radius: 100%;
    line-height: 30px !important;
    padding: 0;
}

tbody.list-item > tr.list-table-data > td.data.status.watching + td.data.number, tbody.list-item > tr.list-table-data > td.data.status.reading + td.data.number {
    box-shadow: 0 1px 3px #2db039, 0 1px 2px #2db039;
    background: #2db039;
    color: #17621e;
}

tbody.list-item > tr.list-table-data > td.data.status.completed + td.data.number {
    box-shadow: 0 1px 3px #26448f, 0 1px 2px #26448f;
    background: #26448f;
    color: #8ea5dd;
}

tbody.list-item > tr.list-table-data > td.data.status.dropped + td.data.number {
    box-shadow: 0 1px 3px #a12f31, 0 1px 2px #a12f31;
    background: #a12f31;
    color: #f79a9b;
}

tbody.list-item > tr.list-table-data > td.data.status.onhold + td.data.number {
    box-shadow: 0 1px 3px #f1c83e, 0 1px 2px #f1c83e;
    background: #f1c83e;
}

tbody.list-item > tr.list-table-data > td.data.status.plantowatch + td.data.number, tbody.list-item > tr.list-table-data > td.data.status.plantoread + td.data.number {
    box-shadow: 0 1px 3px #c3c3c3, 0 1px 2px #c3c3c3;
    background: #c3c3c3;
}

tbody.list-item > tr.list-table-data > td.data.tags {
    display: block !important;
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    width: 120px;
    background: #fff;
    border-radius: 0 0 5px 0;
    padding: 0;
}

tbody.list-item > tr.list-table-data > td.data.tags > div > span {
    font-size: 0 !important;
    display: block;
    background: #ddd;
    line-height: 0;
    margin: 2px 5px 0 2px;
}

tbody.list-item > tr.list-table-data > td.data.tags > div > span > a {
    font-size: 10px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 17px;
    height: 17px;
    display: block;
    padding: 0 3px;
    color: #404040;
}

tbody.list-item > tr.list-table-data > td.data.tags > div > span:first-child {
    border-radius: 5px 5px 0 0;
    margin-top: 5px;
}

tbody.list-item > tr.list-table-data > td.data.tags > div > span:last-child {
    border-radius: 0 0 5px 5px;
}

tbody.list-item > tr.list-table-data > td.data.tags > div > span:first-child:last-child {
    border-radius: 5px;
}

tbody.list-item > tr.list-table-data > td.data.tags > a.edit {
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 50px;
    height: 14px;
    margin-bottom: 16px;
    margin-left: -16px;
    border-radius: 3px;
    background: #888;
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    overflow: hidden;
    color: #ddd;
    transform: rotate(-90deg);
}

tbody.list-item > tr.list-table-data > td.data.type, tbody.list-item > tr.list-table-data > td.data.season, tbody.list-item > tr.list-table-data > td.data.airing-started, tbody.list-item > tr.list-table-data > td.data.airing-finished, tbody.list-item > tr.list-table-data > td.data.progress, tbody.list-item > tr.list-table-data > td.data.volume, tbody.list-item > tr.list-table-data > td.data.chapter, tbody.list-item > tr.list-table-data > td.data.started, tbody.list-item > tr.list-table-data > td.data.finished, .list-table .list-table-data .data.title .content-status {
    position: absolute;
    display: block;
    font-weight: bold;
    left: 102px;
    padding: 0;
    line-height: 14px;
    height: 14px;
    font-size: 11px !important;
    color: inherit;
}

tbody.list-item > tr.list-table-data > td.data.progress, tbody.list-item > tr.list-table-data > td.data.volume, tbody.list-item > tr.list-table-data > td.data.chapter {
    top: 55px;
}

tbody.list-item > tr.list-table-data > td.data.chapter {
    left: auto;
    right: 127px;
}

tbody.list-item > tr.list-table-data > td.data.started {
    color: #999;
    font-size: 10px;
    top: calc(55px + 14px + 5px);
}

tbody.list-item > tr.list-table-data > td.data.finished {
    color: #999;
    font-size: 10px;
    top: calc(55px + (14px + 5px) + 14px);
}

tbody.list-item > tr.list-table-data > td.data.type {
    bottom: 21px;
}

tbody.list-item > tr.list-table-data > td.data.season, tbody.list-item > tr.list-table-data > td.data.airing-started, tbody.list-item > tr.list-table-data > td.data.airing-finished {
    bottom: 5px;
}

tbody.list-item > tr.list-table-data > td.data.airing-finished {
    left: 227px;
}

tbody.list-item > tr.list-table-data > td.data.airing-finished::before {
    width: auto !important;
}

.list-table .list-table-data .data.title .content-status {
    left: 242px;
    top: 131px;
    font-style: italic;
    text-transform: lowercase;
    color: #999;
}

tbody.list-item > tr.list-table-data > td.data.type::before, tbody.list-item > tr.list-table-data > td.data.season::before, tbody.list-item > tr.list-table-data > td.data.airing-started::before, tbody.list-item > tr.list-table-data > td.data.airing-finished::before, tbody.list-item > tr.list-table-data > td.data.progress::before, tbody.list-item > tr.list-table-data > td.data.volume::before, tbody.list-item > tr.list-table-data > td.data.chapter::before, tbody.list-item > tr.list-table-data > td.data.started::before, tbody.list-item > tr.list-table-data > td.data.finished::before {
    width: 60px;
    font-weight: normal;
    display: inline-block;
    text-align: left;
}

tbody.list-item > tr.list-table-data > td.data.type::before {
    content: "Type";
}

tbody.list-item > tr.list-table-data > td.data.season::before {
    content: "Season";
}

tbody.list-item > tr.list-table-data > td.data.airing-started::before {
    content: "Issued";
}

tbody.list-item > tr.list-table-data > td.data.airing-finished::before {
    content: "\2192";
}

tbody.list-item > tr.list-table-data > td.data.progress::before {
    content: "Progress";
}

tbody.list-item > tr.list-table-data > td.data.volume::before {
    content: "Volume";
}

tbody.list-item > tr.list-table-data > td.data.chapter::before {
    content: "Chapter";
}

tbody.list-item > tr.list-table-data > td.data.started::before {
    content: "Started";
}

tbody.list-item > tr.list-table-data > td.data.finished::before {
    content: "Ended";
}

tbody.list-item > tr.list-table-data > td.data.progress > div, tbody.list-item > tr.list-table-data > td.data.volume > div, tbody.list-item > tr.list-table-data > td.data.chapter > div {
    display: inline-block;
}

tbody.list-item > tr.list-table-data > td.data.volume > div > span:last-of-type::after, tbody.list-item > tr.list-table-data > td.data.progress > div > span:last-of-type::after, tbody.list-item > tr.list-table-data > td.data.chapter > div > span:last-of-type::after {
    content: " \f058";
    color: #2db039;
    font-family: FontAwesome;
}

tbody.list-item > tr.list-table-data > td.data.volume > div > span ~ span::after, tbody.list-item > tr.list-table-data > td.data.progress > div > span ~ span::after, tbody.list-item > tr.list-table-data > td.data.chapter > div > span ~ span::after {
    display: none;
}

tbody.list-item > tr.list-table-data > td.data.score {
    position: absolute;
    left: 97px;
    top: 25px;
    right: 126px;
    display: block;
    background: #ddd;
    border-radius: 5px;
    line-height: 25px;
    height: 25px;
    padding: 0 5px;
}

tbody.list-item > tr.list-table-data > td.data.score::before {
    color: #666;
    content: "My Score:";
}

tbody.list-item > tr.list-table-data > td.data.score .link {
    font-size: 14px;
    color: #000;
}

tbody.list-item > tr.list-table-data > td.data.score .score-label {
    color: #404040;
}

tbody.list-item > tr.list-table-data > td.data.score .score-label::after {
    font-family: FontAwesome;
}

tbody.list-item > tr.list-table-data > td.data.score .score-10 {
    color: #2db039;
}

tbody.list-item > tr.list-table-data > td.data.score .score-10::after {
    content: "\e31b";
}

tbody.list-item > tr.list-table-data > td.data.score .score-9 {
    color: orange;
}

tbody.list-item > tr.list-table-data > td.data.score .score-8 {
    color: red;
}

tbody.list-item > tr.list-table-data > td.data.score .score-7 {
    color: #26448f;
}